*, html {
    top: 0;
    left: 0;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #181818;
    font-family: Verdana, sans-serif;
}

.clrBth { clear: both; }
.fltLft { float: left; }

.topbar {
    width: 100%;
    height: 45px;
    float: left;
    clear: both;
    padding: 7px;
    background: #396546;
}

    @media (min-width: 1000px) {
        .topbar .sidemenu {
            width: calc(15% - 7px);
            float: left;
        }
    }

    .topbar .notemenu {
        display: none;
    }

    .topbar .btn {
        min-width: 30px;
        width: auto;
        height: 30px;
        background: #3a793a;
        border: 0;
        color: white;
        padding: 5px;
        margin-right: 15px;
        display: block;
        float: left;
        text-align: center;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
    }
        .topbar .btn:hover { background: #377137; }
    .topbar .btn#toggleImportant #marked {
        display: none;
    }
    
    .topbar .menuTrigger {
        float: left;
        margin-top: 0px;
        margin-right: 10px;
        transition:0.4s;
        width:35px;
        height:35px;
        position:relative;
    }
    @media (min-width: 1000px) {
        .topbar .menuTrigger {
            display:none;
        }
    }
    .topbar .menuTrigger .hamburger {
        width:35px;
        height:4px;
        display:block;
        background:#fff;
        transition:0.4s;
        position:absolute;
    }
    .topbar .menuTrigger .hamburger#one {
        margin-top:6px;
    }
    .topbar .menuTrigger .hamburger#two {
        margin-top:16px;
    }
    .topbar .menuTrigger .hamburger#three {
        margin-top:26px;
    }
    .topbar .menuTrigger .x {
        transition:0.4s;
        opacity:0;
        width:42px;
        height:4px;
        display:block;
        background:#fff;
        position:absolute;
    }
    .topbar .menuTrigger .x#one {
        transform:rotate(-45deg);
        margin-top:16px;
        margin-left:-3px;
    }
    .topbar .menuTrigger .x#two {
        transform:rotate(45deg);
        margin-top:16px;
        margin-left:-3px;
    }
    .topbar .menuTrigger.triggered {
        transform:rotate(-90deg);
    }
    .topbar .menuTrigger.triggered .hamburger {
        opacity:0;
    }
    .topbar .menuTrigger.triggered .x {
        opacity:1;
    }













.noteList {
    height: calc(100vh - 45px);
    background: #242526;
    float: left;
    width: 100%;
    left: -100%;
    position: absolute;
    top: 45px;
    z-index: 1;
    transition-duration: .7s;
}
    .noteList.open { left: 0%; }
    @media (min-width: 1000px) {
        .noteList {
            width: 15%;
            position: relative;
            top: 0;
            left: 0;
            /*border-right: 1px #fff solid;*/
        }
    }

    .noteList h1 {
        color: white;
        float: left;
        margin: 10px;
    }

    .noteList .num {
        float: left;
        color: white;
        margin-top: 17px;
        display: none;
    }
    @media (min-width: 1220px) {
        .noteList .num {
            display: block;
        }
    }
    .noteList.open .num {
        display: block;
    }

    .noteList .favorites {
        color: white;
        float: left;
        margin-top: 16px;
        margin-left: 7px;
        cursor: pointer;
    }
    @media (min-width: 1060px) {
        .noteList .favorites {
            display: block;
        }
    }
    .noteList.open .favorites {
        display: block;
    }

    .noteList .searchField {
        float: left;
        clear: both;
        width: 90%;
        margin: 5px 5% 15px;
        height: 25px;
        background: #171819;
        color: white;
        padding: 5px;
        outline: none;
    }

    .noteList #theNotes {
        clear: both
    }

    .aNote {
        width: 100%;
        padding: 10px;
        height: auto;
        float: left;
        color: white;
        cursor: pointer;
        border-bottom: 1px #333 solid;
    }

        .aNote:hover {
            background: #333;
        }
        .aNote.active {
            background: #eaa119;
        }

        .aNote .nTitle {
            font-size: 16px;
            float: left;
            clear: both;
            display: block;
            width: 100%;
            height: 19px;
            overflow: hidden;
            margin-bottom: 5px;
        }

        .aNote .nDate, .aNote .nContent {
            font-size: 13px;
            float: left;
            margin-right: 5px;
        }

        .aNote .nContent {
            color: #928b8b;
        }

.showNote {
    float: left;
    width: 100%;
    padding: 10px 20px;
}
    @media (min-width: 1000px) {
        .showNote {
            width: 85%;
        }
    }

    .noteTitle {
        color: white;
        font-size: 20px;
        margin-bottom: 5px;
        background: transparent;
        outline: none;
    }

    .noteDate {
        color: grey;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .noteTitle, .noteDate {
        text-align: center;
        width: 100%;
        display: block;
    }

    .noteContent {
        width: 100%;
        display: block;
        color: white;
        font-size: 15px;
        background: transparent;
        outline: none;
        height: calc(100vh - 125px);
    }